body {
    background-color: rgb(145, 143, 145);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

#titulo {
    text-align: center;
    background-color: rgb(161, 158, 158);
    margin: 0px;
    padding: 1px;

}

.container {

}

p {
    text-align: center;
}
